.segment {
    width: 40% !important;
    margin: 0 auto !important;
    margin-top: 15% !important;
    background-color: whitesmoke
}


@media screen and (max-width: 800px) {
    .segment {
        max-width: 80% !important;
    }
}

@media screen and (max-width: 400px) {
    .segment {
        max-width: 95% !important;
    }
}
