<div class="ui grid">
  <div class="sixteen wide column">
    <p *ngIf="service.isActive()" style="text-align: center">You are logged in as {{service.getEmail()}}</p>
    <div class="ui teal segment form" *ngIf="!service.isActive()">
      <p class="ui error message" *ngIf="message" [ngStyle]="{'width': '100%', 'height': '4%', 'margin': '0.2%'}">{{message}}</p>
      <h4>Login</h4>
      <hr/>
      <div class="form-control">
        <input [(ngModel)]="email" nglFormControl type="text" placeholder="Email">
      </div>
      <br>
      <div class="form-control">
        <input [(ngModel)]="password" nglFormControl type="password" placeholder="Password">
      </div>
      <br/>
      <button (click)="login(email, password)" class="btn btn-primary">LOGIN</button>
    </div>
  </div>
</div>
