.lga {
  background-color: rgba(240, 240, 240, 1) !important;
  border-top: 5px solid #004a70 !important;
}

.active {
  background-color: #006690 !important;
  color: #fff !important;
  border-radius: 5px 0px 0px 5px !important;
}

.sidenav .sidenav-content > .nav-link {
  margin: 1% !important;
  padding: 1% 0% 1% 5% !important;
}

.eight.wide {
  padding: 1% !important;
}

.chart {
  width: 100% !important;
  height: 100% !important;
}

.ui.statistic {
  width: 100% !important;
}

.ui.det.statistic {
  max-width: 100% !important;
  margin-bottom: 0.5em !important;
}

.ui.statistic > .message {
  text-align: center !important;
  font-size: 1.2em !important;
  background-color: #004a70;
  color: #fff;
}

.ui.statistic > .value,
.ui.statistics .statistic > .value {
  font-size: 2em !important;
  color: #000 !important;
}

.ui.statistic:first-child.dummy {
  width: 100% !important;
  display: none;
}

.content-container .content-area {
  padding: 0em 0.2em 0em 0.5em !important;
  max-width: inherit !important;
  overflow-x: hidden;
  box-sizing: border-box;
}

.progress.loop {
  margin-bottom: 0.3em;
}
