<clr-modal [(clrModalOpen)]="staffId" [clrModalStaticBackdrop]="true" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <div class="modal-title" *ngIf="clockin">
    {{clockin?.staffFirstName|titlecase}} {{clockin?.staffLastName|titlecase}} attendance for
    <span style="color: #007CBB">{{month}} {{year}}</span>
  </div>
  <div class="modal-body" *ngIf="!clockin">
    <div class="ui stackable grid">
      <div class="ui sixteen wide column">
        <span class="spinner spinner-inverse" style="margin: 0 auto">
          Loading...
        </span>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="clockin">
    <div class="ui stackable grid">
      <div class="ui row">
        <div class="ui four wide column">
          <div class="ui grid">
            <div class="ui row">
              <div class="ui sixteen wide column">
                <div class="ui det small statistic dummy">
                  <div class="ui message">
                    <clr-icon shape="clock"></clr-icon>
                  </div>
                  <div class="value">
                  </div>
                </div>
                <div class="ui det small statistic">
                  <div class="ui message">
                    Avg. Resumption
                    <clr-icon shape="clock"></clr-icon>
                  </div>
                  <div class="value">
                    {{averagein | date:"mediumTime"}}
                  </div>
                </div>
                <div class="ui det small statistic">
                  <div class="ui message">
                    Avg. Closing
                    <clr-icon shape="clock"></clr-icon>
                  </div>
                  <div class="value">
                    {{averageout | date:"mediumTime"}}
                  </div>
                </div>
                <div class="ui det small statistic">
                  <div class="ui message">
                    Avg. Hours Active
                  </div>
                  <div class="value">
                    {{averageout?.getHours() - averagein?.getHours() | number:"1.1-2" | isnan}} hours
                  </div>
                </div>
                <div class="ui det small statistic">
                  <div class="ui message">
                    N&#9900; Clock-ins
                  </div>
                  <div class="value">
                    {{timelinein?.length}}
                  </div>
                </div>
                <div class="ui det small statistic">
                  <div class="ui message">
                    N&#9900; Clock-outs
                  </div>
                  <div class="value">
                    {{timelineout?.length}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui twelve wide column">
          <div class="ui grid">
            <div class="ui row">
              <div class="ui sixteen wide column">
                <div class="ui form">
                  <div class="field">
                    <input style="height: inherit" (input)="enableSelect()" type="text" placeholder="year" [(ngModel)]="jahr">
                  </div>
                  <div class="field">
                    <select [disabled]="disable" #mont (change)="getStaffMonthClockins(mont.value, jahr);
                        getStaffMonthClockouts(mont.value, jahr); noresultin = false; noresultout = false">
                      <option>Select Month</option>
                      <option *ngFor="let mont of months; let i = index" [value]="i">
                        {{mont}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui row" *ngIf="loading">
              <div class="ui sixteen wide column">
                <div class="progress loop">
                  <progress></progress>
                </div>
              </div>
            </div>
            <div class="ui row">
              <div class="ui sixteen wide column" *ngIf="((noresultin && timelinein?.length < 1) || !timelinein?.length) && !loading">
                <p class="ui red message" style="text-align: center">{{messagein}}</p>
              </div>
              <div class="ui sixteen wide column" *ngIf="timelinein?.length > 0">
                <h5>Clock-in trend for {{month}} {{year}}</h5>
                <div id="inplot" class="ui stacked elevated segment">
                  <a [hidden]="true" id="inlink" download="staff_{{staffId}}_clockin_{{month}}_{{year}}.png"></a>
                  <button class="btn btn-outline" (click)="saveCanvas('inlink', 'in')">Save Graph</button>
                  <canvas id="in" baseChart class="chart" [datasets]="[{data: timelinein, label: clockin?.staffFirstName +' '+ clockin?.staffLastName +' '+ clockin?.staffId }]"
                    [labels]="labelsin" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="true" [chartType]="'line'">
                  </canvas>
                </div>
              </div>
            </div>
            <div class="ui row">
              <div class="ui sixteen wide column" *ngIf="((noresultout && timelineout?.length < 1) || !timelineout?.length) && !loading">
                <p class="ui red message" style="text-align: center">{{messageout}}</p>
              </div>
              <div *ngIf="timelineout?.length > 0" class="ui sixteen wide column">
                <h5>Clock-out trend for {{month}} {{year}}</h5>
                <div id="outplot" class="ui stacked elevated in segment">
                  <a [hidden]="true" id="outlink" download="staff_{{staffId}}_clockout_{{month}}_{{year}}.png"></a>
                  <button class="btn btn-outline" (click)="saveCanvas('outlink', 'out')">Save Graph</button>
                  <canvas id="out" baseChart class="chart" [datasets]="[{data: timelineout, label: clockin?.staffFirstName +' '+ clockin?.staffLastName +' '+ clockin?.staffId}]"
                    [labels]="labelsout" [options]="lineChartOptions" [colors]="lineChartColorsout" [legend]="true" [chartType]="'line'">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="clear()">CLOSE</button>
  </div>
</clr-modal>
