<div *ngIf="!locations?.length" class="progress loop">
  <progress></progress>
</div>
<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <div class="ui stackable grid">
        <div class="ui sixteen wide column" style="padding-top: 0%">
          <div class="ui form">
            <div class="two fields">
              <div class="eight wide field">
                <h3 *ngIf="lg">
                  {{lg | titlecase}} Clock-in details</h3>
              </div>
              <div class="eight wide field" *ngIf="!tiny">
                <select [disabled]="!locations?.length" class="ui fluid dropdown" #loc (change)="getLocClockins(loc.value)">
                  <option [value]="">Select Tad Location to View</option>
                  <ng-container *ngFor="let loc of locations">
                    <option *ngIf="loc?.name" [value]="loc.id">
                      {{loc.address|titlecase}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div *ngIf="lg" class="ui stackable grid">
            <div class="ui four wide column">
              <div class="ui statistic">
                <div class="ui message">
                  Staff
                </div>
                <div class="value">
                  <app-staff-clockin #staff [lga]="lg?.toLowerCase()"></app-staff-clockin>
                </div>
              </div>
            </div>
            <div class="ui four wide column">
              <div class="ui statistic">
                <div class="ui message">
                  Clock-ins
                </div>
                <div class="value">
                  <app-clockin-count #clockin [lg]="lg?.toLowerCase()" [count]="staff?.count" [tadarray]="staff.ids" [clockin]="true">
                  </app-clockin-count>
                </div>
              </div>
            </div>
            <div class="ui four wide column">
              <div class="ui statistic">
                <div class="ui message">
                  Clock-outs
                </div>
                <div class="value">
                  <app-clockin-count #clockout [lg]="lg?.toLowerCase()" [count]="staff?.count" [tadarray]="staff.ids" [clockin]="false">
                  </app-clockin-count>
                </div>
              </div>
            </div>
            <div class="ui four wide column">
              <div class="ui statistic">
                <div class="ui message">
                  % Defaults
                </div>
                <div class="value">
                  {{getMax(staff?.count,clockout?.cout_cnt, clockin?.cin_cnt)/staff?.count * 100 | number:'1.0-0' | isnan}} %
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui stackable grid">
        <div class="ui sixteen center aligned floated wide column">
          <div class="sixteen wide field" *ngIf="tiny">
            <select class="ui fluid dropdown" #loc (change)="getLocClockins(loc.value)">
              <option [value]="">Select Tad Location to View</option>
              <ng-container *ngFor="let loc of locations">
                <option *ngIf="loc?.name?.length > 2" [value]="loc.id">
                  {{loc.name|titlecase}}
                </option>
              </ng-container>
            </select>
          </div>
          <span *ngIf="clockins; else noclockins">{{count}} clock-ins recorded at {{locale.tad.name|titlecase}} today</span>
          <ng-template #noclockins>Clock-ins - Clock-outs</ng-template>

          <clr-datagrid id="datagrid">
            <clr-dg-column [clrDgField]="'staffFirstName'">Staff Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'staffId'">Staff I.D</clr-dg-column>
            <clr-dg-column [clrDgField]="'clockInTime'">Clock-in</clr-dg-column>
            <clr-dg-column [clrDgField]="'clockOutTime'">Clock-out</clr-dg-column>

            <clr-dg-placeholder *ngIf="message && locations">
              <span *ngIf="data" class="spinner spinner-sm spinner-inline">
                Loading...
              </span>{{message}}
            </clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let clockin of clockins; let even=even; let odd=odd; trackBy: tracker">
              <clr-dg-cell>
                <a (click)="select(clockin.staffId)">
                  {{clockin?.staffFirstName | titlecase}} {{clockin?.staffLastName | titlecase}}
                </a>
              </clr-dg-cell>
              <clr-dg-cell #id [ngClass]="{'odd': odd, 'even': even}">{{clockin?.staffId}}</clr-dg-cell>
              <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{getTime(clockin?.timestamp)}}</clr-dg-cell>
              <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">
                <app-staff-clockout [staffId]="clockin.staffId"></app-staff-clockout>
              </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} clock-ins
              <clr-dg-pagination #pagination [clrDgPageSize]="100"></clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
          <!--<clr-icon [attr.shape]="shaype" (click)="toggleNav()" size="30" style="cursor: pointer"></clr-icon>-->
        </div>
      </div>
    </div>
    <nav class="sidenav" [clr-nav-level]="2">
      <section class="sidenav-content">
        <a class="nav-link" *ngFor="let lg of lgs; let even=even; let odd=odd; trackBy: tracker" routerLinkActive="active" (click)="goToLga(lg)"
          [routerLink]="['..', lg]">
          {{lg}}
        </a>
      </section>
    </nav>
  </div>
</div>
<app-clockin-detail></app-clockin-detail>
