<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
    <section>
        <div class="card">
            <div class="card-header">
                Query Form
            </div>
            <div class="card-block">

                <div class="card-text">
                    <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <label for="gForm_1">Category</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="select" >
                                <select formControlName="category">
                                    <option value="MDA">MDA</option>
                                    <option value="Id">Staff Id</option>
                                    <option value="Location">Location</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input class="form-control" formControlName="q" type="text" placeholder="Enter value here" size="35">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm">Search</button>
            </div>
        </div>

    </section>
</form>

<div class="row">
    <div class="col-xs-12">
        <div *ngIf="data" class="progress loop" style="width: 100%; height: 0.2%">
            <progress></progress>
        </div>
        <clr-datagrid id="datagrid">
            <clr-dg-column [clrDgField]="'location_name'">First Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'Surname'">Surname</clr-dg-column>
            <clr-dg-column [clrDgField]="'FullName'">Full Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'Location'">Location</clr-dg-column>
            <clr-dg-column [clrDgField]="'Month'">Month</clr-dg-column>
            <clr-dg-column [clrDgField]="'MDA'">MDA</clr-dg-column>
            <clr-dg-column [clrDgField]="'Clockin'">Clockin</clr-dg-column>
            <clr-dg-column [clrDgField]="'Clockout'">Clockout</clr-dg-column>
            <clr-dg-column [clrDgField]="'TotalWorkingHours'">Total Working Hours</clr-dg-column>
            <clr-dg-column [clrDgField]="'ExpectedWorkingHours'">Expected Working Hours</clr-dg-column>

            <clr-dg-row *clrDgItems="let datum of data; let even=even; let odd=odd">

                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.FirstName|titlecase}}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.LastName}}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.FullName }}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.Location }}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.Month }}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.MDA }}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.Morning_Clockin }}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.Afternoon_Clockin }}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">{{datum.Work_Hours }}</clr-dg-cell>
                <clr-dg-cell [ngClass]="{'odd': odd, 'even': even}">160</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} reports
                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <app-reports-detail></app-reports-detail>
    </div>
</div>