<clr-modal [(clrModalOpen)]="id" [clrModalClosable]="false" [clrModalStaticBackdrop]="true" [clrModalSize]="'xl'">
    <h3 class="modal-title">{{datum?.location_name|titlecase}}</h3>
    <div class="modal-body">
        {{datum|json}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="close()">close</button>
    </div>
</clr-modal>
