<clr-main-container>
  <clr-header class="header-3">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="clock"></clr-icon>
        <span class="title">HECKERBELLA TANDA</span>
      </a>
    </div>
    <div class="header-actions">
      <a class="nav-link">
        <span class="nav-text">{{time}}</span>
      </a>
      <a  class="nav-link">
        <span class="nav-text">{{service.getEmail()}}</span>
      </a>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user" class="has-badge"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="service.logout()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="locations" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="map-marker"></clr-icon>
        Locations
      </a>
      <a clrVerticalNavLink routerLink="reports" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="list"></clr-icon>
        Reports
      </a>
      <a clrVerticalNavLink routerLink="tads" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="code"></clr-icon>
        Tads
      </a>
      <a clrVerticalNavLink [routerLink]="['clockins']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="alarm-clock"></clr-icon>
        Clock-Ins
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
