/* You can add global styles to this file, and also import other style files */
.ui {
  font-size: inherit !important;
}

a:hover {
    text-decoration: underline;
}

.even {
    background-color: #49AFD9 !important;
    border: 0px solid transparent !important;
    color: #FFF;
}

.odd {
    background-color: #89CBDF !important;
    border: 0px solid transparent !important;
    color: #FFF;
}
/*
.value {
  color: #FFF !important;
}

.value * {
  color: #FFF !important;
} */
/*
span {
  color: #FFF !important;
}
 */

@media only screen and (max-width: 400px) {
  html {
    font-size: 12px !important;
  }

  .content-container {
    display: flex !important;
    flex-direction: row !important;
  }

  .content-container .content-area {
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  html {
    font-size: 14px !important;
  }
  .content-container {
    display: flex !important;
  }

  .content-container .content-area {
    max-width: 100% !important;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  ::-webkit-scrollbar {
    width: 5px !important;
    border-radius: 1px !important;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: 0px transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #767C96 !important;
    border-radius: 1px !important;
    width: inherit !important;
  }
}
